.x-default-maxwidth {
  width: 100%;
  max-width: 1280px !important;
}
.text-smaller {
  font-size: smaller;
}
.text-small {
  font-size: small;
}
.hyperlink {
  text-decoration: none;
  color: $primary;
  font-weight: bold;
}

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-Light.woff2') format('woff2')
//     font-weight: 300
//     font-style: normal

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-Regular.woff2') format('woff2')
//     font-weight: normal
//     font-style: normal

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-SemiBoldItalic.woff2') format('woff2')
//     font-weight: 600
//     font-style: italic

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-LightItalic.woff2') format('woff2')
//     font-weight: 300
//     font-style: italic

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-SemiBold.woff2') format('woff2')
//     font-weight: 600
//     font-style: normal

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-BoldItalic.woff2') format('woff2')
//     font-weight: bold
//     font-style: italic

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-ThinItalic.woff2') format('woff2')
//     font-weight: 100
//     font-style: italic

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-Thin.woff2') format('woff2')
//     font-weight: 100
//     font-style: normal

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-Bold.woff2') format('woff2')
//     font-weight: bold
//     font-style: normal

// @font-face
//     font-family: 'Josefin Sans'
//     src: url('JosefinSans-Italic.woff2') format('woff2')
//     font-weight: normal
//     font-style: italic

html,
body {
  overflow-x: hidden;
}

// // app global css in Sass form
// *
//     font-family: 'Josefin Sans'

// .x-thumbnail
//     max-width: 150px

// .x-thumbnail-lg
//     max-width: 300px

// .x-text-small
//     font-size: small

// .x-title-lineheight
//     line-height: 1em

// .x-default-img-maxwidth
//     max-width: 100px

// .x-default-maxwidth
//     width: 100%
//     max-width: 1280px

// .x-full-width
//     width: 100%

// .x-text-small
//     font-size: smaller

// .x-card-tile
//     border-radius: 0px

// .x-quoted:before,
// .x-quoted:after
//     content: '"'

// .x-iframe
//     border: none
//     width: 100%
//     height: 680px
//     overflow-y: hidden

// .x-hyperlink
//     text-decoration: none
//     color: lightgrey

// .q-tab__label
//     font-size: xx-small
//     line-height: 1.715em
//     font-weight: 500

// .q-scrollarea__bar.q-scrollarea__bar--h,
// .q-scrollarea__thumb.q-scrollarea__thumb--h
//     display: none

// .x-user-btn
//     line-height: unset

// .x-user-btn .block
//     font-size: small

// .x-img-outline
//     border: 1px solid lightgrey

// .x-shadow
//    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12)

// .x-img-rounded
//     border-radius: 4px

// .text-ellipsis
//     overflow: hidden
//     text-overflow: ellipsis
//     display: -webkit-box
//     -webkit-line-clamp: 2
//     -webkit-box-orient: vertical

// .mobile .q-menu
//     left: 10px
//     right: 10px
//     max-width: 100%

// // .mobile .q-dialog .q-dialog__inner
//     // margin-top: 16px

.hide-native-scrollbar {
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
  &::-webkit-scrollbar {
    /** WebKit */
    display: none;
  }
}

.chapter-sidebar {
  width: 300px;
}

.q-btn__content{
  font-weight: normal;
  font-size: small;
  
}